@model IEnumerable<RestoranTask.Entities.Meal>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Meals</title>
</head>
<body>
    <div>
        <h1>Meals</h1>
        <div>
            <img style=" margin-left:10px ; display:inline-block; width:100px;height:100px" src="~/img/yd.png" />
            <img style=" display:inline-block; margin-left: 10px;  width: 100px; height: 100px" src="~/img/as.jpg" />
            <img style=" display: inline-block; margin-left: 10px;  width: 100px; height: 100px" src="~/img/kb.png" />
        </div>
        @foreach (var item in Model)
        {

            <h2 style="display:inline-block; margin-left:35px">@item.Name</h2>
        }
        <br />
        @foreach (var item in Model)
        {
            <h2 style="display:inline-block;margin-left:65px">@item.Price</h2>
        }
    </div>
</body>
</html>
